<div class="container">
  <h1>The Washington Post (Scraper)</h1>
  <h3>Democracy Dies in Darkness</h3>
  <hr>
  <ul>
    <li>
      <a class="options" href="/">Home
      </a>
    </li>
    <li>
      <a class="options selected" href="/saved">Saved</a>
    </li>
    <li>
      <a class="options" id="scrape">Scrape</a>
    </li>
    <li>
      <a class="options" id="clear">Clear</a>
    </li>
  </ul>
<div class="article__container">
  {{#each articles}}
    <div data-_id={{this._id}} class="article">
      <div class="article__header">
        <h3>
          <a class="article__link" target="_blank" rel="noopener noreferrer" href="{{this.url}}">{{this.headline}}</a>
        </h3>
      </div>
      <div class="article__summary">{{this.summary}}</div>
      <a class="notes">Notes</a>
      <a class="delete">Delete</a>
    </div>
  {{/each}}
  {{#unless articles.length}}
    <div class="noArticles">
      <h4>No saved articles. Go back to scrape and save some.</h4>
    </div>
  {{/unless}}
</div>
</div>
<footer class="footer">
    <a class="footer__link" href="https://k8xian.github.io">© 2018 Kate Christian</a>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="/assets/javascript/saved.js"></script>
